
.top{ height:50px;
	  width:100%;
	  border:#333 1px solid;
		}
.top p{
	padding:0; margin:0;
	color:#F00;
	font-size:24px;
	line-height:50px; margin-left:20%;
	}
.center{
	width:100%;
	height:400px;
	background-color:#c60023; margin-top:0;}
.login{
	width:25%;
	height:300px;
	background-color:#FFF;
	position:absolute;
	top:100px; left:37%;	}
.login ul{
	list-style-type:none; margin:0; padding:0;
	height:100%}
.login ul li{
	height:50px;
	

}
.login ul li input{
	width:90%;
	height:30px;
	border:#CCC 1px solid;
	font-family:"微软雅黑";
	font-size:20px;
	margin-top:8px;
	margin-left:5%;
	}
.title {
	font-size:25px;
	text-align:center;
	line-height:50px;}
	
	
	
	
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}